@font-face {
  font-family: "iconfont"; /* Project id 3526525 */
  src: url('iconfont.woff2?t=1686823939162') format('woff2'),
       url('iconfont.woff?t=1686823939162') format('woff'),
       url('iconfont.ttf?t=1686823939162') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-bijibenbiji:before {
  content: "\e6c1";
}

.icon-youxiyouxiji:before {
  content: "\e61e";
}

.icon-zhanghu1:before {
  content: "\e666";
}

.icon-shuyi_fanyi-36:before {
  content: "\e65c";
}

.icon-yinle:before {
  content: "\e601";
}

.icon-icon:before {
  content: "\e694";
}

.icon-yunpan:before {
  content: "\e65a";
}

.icon-ditu:before {
  content: "\e8ad";
}

.icon-yunpanlogo--:before {
  content: "\e615";
}

.icon-tupianbizhi:before {
  content: "\e6c6";
}

.icon-youxiang:before {
  content: "\e71f";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-tishi:before {
  content: "\e600";
}

.icon-zhaopian:before {
  content: "\e630";
}

.icon-zhifeiji:before {
  content: "\e681";
}

.icon-xiaolian:before {
  content: "\e688";
}

.icon-joblog:before {
  content: "\e680";
}

.icon-github-fill:before {
  content: "\e885";
}

